<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<title>reveal.js</title>

	<link rel="stylesheet" href="dist/reset.css">
	<link rel="stylesheet" href="dist/reveal.css">
	<link rel="stylesheet" href="dist/theme/black.css" id="theme">
	<style>
		body {
			font-family: sans-serif;
			font-size: 16px;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}

		small,
		svg {
			font-size: 60%;
		}

		button {
			background-color: gainsboro;
			border: 1px solid lightgrey;
			cursor: pointer;
			transition: all 500ms ease;
		}

		button:hover {
			background-color: lightgrey;
		}

		button.active {
			background-color: black;
			color: white;
		}

		hr {
			border-color: gainsboro;
		}

		#chart {
			height: 512px;
			width: 512px;
		}

		.block {
			display: block;
		}

		.content-center {
			justify-content: center;
		}

		.fill-current {
			fill: currentColor;
		}

		.flex {
			display: flex;
		}

		.items-center {
			align-items: center;
		}

		.list-complete-item {
			transition: all 500ms;
		}

		.list-complete-enter,
		.list-complete-leave-to {
			letter-spacing: .1rem;
			opacity: 0;
			transform: translateX(-1rem);
		}

		.list-complete-leave-active {
			position: absolute;
		}

		.mb-2 {
			margin-bottom: .5rem;
			font-size: 25px;
			display: flex;
			align-items: center;
		}

		.mb-4 {
			margin-bottom: 1rem;
		}

		.min-h-288 {
			min-height: 288px;
		}

		.ml-auto {
			margin-left: auto;
		}

		.pl-8 {
			padding-left: 2rem;
		}

		.pl-8 span {
			font-size: 25px;
			display: flex;
			align-items: center;
		}

		.pt-8 {
			padding-top: 2rem;
		}

		.px-4 {
			padding-left: 1rem;
			padding-right: 1rem;
		}

		.py-2 {
			padding-bottom: .5rem;
			padding-top: .5rem;
		}

		.text-center {
			text-align: center;
		}

		.text-darkred {
			color: darkred;
		}

		.text-gray {
			color: gray;
		}

		.text-indianred {
			color: indianred;
		}

		.uppercase {
			text-transform: uppercase;
		}

		.w-4 {
			width: 1rem;
		}

		.w-full {
			width: 100%;
		}

		th,
		td {
			border: 1px solid white;
		}

		canvas {
			position: absolute;
			width: 100%;
			top: 0;
			height: 100vh;
		}

		a:link,
		a:visited {
			color: #4682b4;
		}

		a:hover {
			color: #4169e1;
		}

		#main {
			width: 900px;
			height: 700px;
		}

		#main div {
			color: white;
			/* top: 0!important;
			left: 0!important; */
			width: 900px;
			height: 700px;
		}

		#main canvas {
			color: white;
		}
	</style>



	<!-- Theme used for syntax highlighted code -->
	<link rel="stylesheet" href="plugin/highlight/monokai.css" id="highlight-theme">
</head>

<body>
	<div class="reveal">
		<div class="slides">
			<section>

				<section>
					<h4>Аудит рекламных кабинетов компании <span style="color: aqua;">Вэд-Юг</span> в системе <span
							style="color: #4285F4;">G</span><span style="color: #EA4335;">o</span><span
							style="color: #FBBC05;">o</span><span style="color: #4285F4;">g</span><span
							style="color: #34A853;">l</span><span style="color: #EA4335;">e</span> Ads</h4>
				</section>

				<section>
					<h6 style="text-align: left; color: aqua;">Ошибки в текущих рекламных компаниях</h6>
					<div style="text-align: left;">
						<p>На уровне рекламных компаний</p>
						<ol style="font-size: 25px;">
							<li style="padding-top: 12px;">
								В рекламных кампаниях «ВЭД Юг - таможенный
								брокер_customs_broker», «ВЭД ЮГ START» и «Таможенное оформление» используется стратегия
								«Максимальное количество кликов».
							</li>
							<li style="padding-top: 12px;">
								В рекламной кампании «ТН ВЭД ХХ ХХ СЛОВА» используется
								стратегия «Целевая цена за конверсию» при отсутствии рабочих конверсий в Google
								Analytics.
							</li>
							<li style="padding-top: 12px;">
								Географический таргетинг в рекламных кампаниях отличен друг от друга.
							</li>
						</ol>
						<p>На уровне объявлений</p>
						<ol style="font-size: 25px;">
							<li style="padding-top: 12px;">
								Отсутствие уточнений, дополнительных ссылок и структурированных описаний
							</li>
							<li style="padding-top: 12px;">
								Отсутствие номера телефона в объявлениях
							</li>
							<li style="padding-top: 12px;">
								Отсутствие подключенного кабинета Google.Business
							</li>
						</ol>
					</div>
				</section>
				<section>
					<p>На уровне ключевых фраз</p>
					<ol style="font-size: 25px;">
						<li style="padding-top: 12px;">
							Отсутствие проработанной структуры семантического ядра
						</li>
						<li style="padding-top: 12px;">
							Недоработанная семантика
						</li>
						<li style="padding-top: 12px;">
							Некорректная семантика (слишком широкая: «импорт»)
						</li>
						<li style="padding-top: 12px;">
							Дубли ключевых фраз
						</li>
						<li style="padding-top: 12px;">
							Отсутствие минус-фраз (только базовый список)
						</li>
						<li style="padding-top: 12px;">
							Не проработанные ставки (часть ключевых слов не работает)
						</li>
					</ol>
				</section>
				<section>
					<div>
						<ul>
							<li style="font-size: 30px;">
								<h5>Стратегия «Максимальное количество кликов»</h5>
							</li>
						</ul>
					</div>
				</section>
				<section>
					<div>
						<ul>
							<li style="font-size: 30px;">
								<h5>Стратегия «Максимальное количество конверсий»</h5>
							</li>
						</ul>
					</div>
					<img style="height: 300px; width: 800px; margin-bottom: 0px; padding-bottom: 0px;"
						src="./img/image5.png">
					<img style="height: 300px; margin-top: 0px; padding-top: 0px;" src="./img/image6.png">
				</section>
				<section>
					<div>
						<ul>
							<li style="font-size: 30px;">
								<h5>Географический таргетинг в рекламных кампаниях отличен друг от друга без причин</h5>
							</li>
						</ul>
					</div>
				</section>
				<section>
					<div>
						<ul>
							<li style="font-size: 30px;">
								<h5>Отсутствие уточнений, дополнительных ссылок и структурированных описаний</h5>
							</li>
						</ul>
					</div>
				</section>
				<section>
					<div>
						<ul>
							<li style="font-size: 30px;">
								<h5>Отсутствие номера телефона в объявлениях</h5>
							</li>
						</ul>
					</div>
				</section>
				<section>
					<div>
						<ul>
							<li style="font-size: 30px;">
								<h5>Отсутствие подключенного кабинета Google.Business</h5>
							</li>
						</ul>
					</div>
				</section>
				<section>
					<div>
						<ul>
							<li style="font-size: 30px;">
								<h5>Отсутствие проработанной структуры семантического ядра</h5>
							</li>
						</ul>
					</div>
				</section>
				<section>
					<div>
						<ul>
							<li style="font-size: 30px;">
								<h5>Недоработанная семантика</h5>
							</li>
						</ul>
					</div>
				</section>
				<section>
					<div>
						<ul>
							<li style="font-size: 30px;">
								<h5>Некорректная семантика</h5>
							</li>
						</ul>
						<img style="height: 500px; margin-bottom: 0px; padding-bottom: 0px;" src="./img/image7.png">
					</div>
				</section>
				<section>
					<div>
						<ul>
							<li style="font-size: 30px;">
								<h5>Дубли ключевых фраз</h5>
							</li>
						</ul>
						<img style="height: 400px; margin-bottom: 0px; padding-bottom: 0px;" src="./img/image8.png">
					</div>
				</section>
				<section>
					<div>
						<ul>
							<li style="font-size: 30px;">
								<h5>Отсутствие минус-фраз</h5>
							</li>
						</ul>
					</div>
				</section>
				<section>
					<div>
						<ul>
							<li style="font-size: 30px;">
								<h5>Не проработанные ставки</h5>
							</li>
						</ul>
						<img style="height: 500px; margin-bottom: 0px; padding-bottom: 0px;" src="./img/image9.png">
					</div>
				</section>
				<section>
					<div>
						<ul>
							<li style="font-size: 30px;">
								<h5>Резюме и перспективы</h5>
							</li>
						</ul>
					</div>
				</section>
			</section>
			<section style="color: rgb(255, 255, 255);">
				<section>
					<h3>Аудит рекламных кабинетов компании Вэд-Юг в системе Яндекс.Директ</h3>
				</section>
				<section>
					<h6 style="text-align: left; color: aqua;">Ошибки в текущих рекламных компаниях</h6>
					<div style="text-align: left;">
						<p>На уровне рекламных компаний</p>
						<ol style="font-size: 25px;">
							<li style="padding-top: 12px;">Не используются инструменты оптимизации рекламных кампаний
							</li>
							<li style="padding-top: 12px;">Пониженная корректировка ставок для мобильных устройств</li>
							<li style="padding-top: 12px;">Недостаточно широкий геотаргетинг</li>
							<li style="padding-top: 12px;">Отключение эффективных рекламных кампаний</li>
						</ol>
						<p>На уровне объявлений</p>
						<ol style="font-size: 25px;">
							<li style="padding-top: 12px;">Отсутствие установленного в визитки статического коллтрекинга
							</li>
							<li style="padding-top: 12px;">Отсутствие дополнительных текстов объявлений для «А-Б»
								тестирования</li>
						</ol>
					</div>
				</section>
				<section style="color: rgb(232, 255, 255);">
					<div style="text-align: left;">
						<p>На уровне ключевых фраз</p>
						<ol style="font-size: 25px;">
							<li style="padding-top: 12px;">Отсутствие проработанной структуры семантического ядра</li>
							<li style="padding-top: 12px;">Недоработанная семантика</li>
							<li style="padding-top: 12px;">Некорректная семантика (околоцелевая: «доставка грузов из
								Китая»)</li>
							<li style="padding-top: 12px;">Не проработанные ставки (часть ключевых слов не работает)
							</li>
						</ol>
					</div>
				</section>
				<section style="color: rgb(232, 255, 255);">
					<div>
						<ul>
							<li style="font-size: 30px;">
								Не используются инструменты оптимизации рекламных кампаний
							</li>
						</ul>
						<img style="height: 300px;" src="./img/image2.png">
					</div>
				</section>
				<section>
					<div style="text-align: left;">
						<ul>
							<li style="font-size: 20px;">
								Пониженная корректировка ставок для мобильных устройств
							</li>
						</ul>
						<p style="text-align: left; font-size: 25px;">
							Повышенная финансовая эффективность рекламы в Google по сравнению с Яндексом свидетельствует
							о высоких перспективах мобильного трафика, поскольку пользователи Google в 65-70% являются
							именно мобильными. Понижение объема мобильного трафика из Яндекс может являться одной из
							причин
							снижения эффективности.
						</p>
					</div>
				</section>
				<section>
					<div style="text-align: left;">
						<ul>
							<li style="font-size: 25px;">
								Недостаточно широкий геотаргетинг
							</li>
						</ul>
						<p style="text-align: left; font-size: 25px;">
							В настоящий момент в рекламных кампаниях используются следующие настройки таргетинга:
						</p>
						<ul style="font-size: 25px;">
							<li>Москва и область</li>
							<li>Краснодар</li>
							<li>Новороссийск</li>
							<li>Сочи</li>
							<li>Ростов-на-Дону</li>
						</ul>
					</div>
				</section>
				<section>
					<div>
						<ul>
							<li style="font-size: 30px;">
								Отключение эффективных рекламных кампаний
							</li>
						</ul>
						<img style="height: 300px;" src="./img/image3.png">
					</div>
				</section>
				<section>
					<div>
						<ul>
							<li style="font-size: 30px;">
								<h5>Отсутствие дополнительных текстов объявлений для «А-Б» тестирования</h5>
							</li>
						</ul>
					</div>
				</section>
				<section>
					<div>
						<ul>
							<li style="font-size: 30px;">
								<h5>Недоработанная семантика</h5>
							</li>
						</ul>
					</div>
				</section>
				<section>
					<div>
						<ul>
							<li style="font-size: 30px;">
								<h5>Некорректная семантика</h5>
							</li>
						</ul>
					</div>
				</section>
				<section>
					<div>
						<ul>
							<li style="font-size: 30px;">
								<h5>Не проработанные ставки</h5>
							</li>
						</ul>
					</div>
					<img style="height: 500px;" src="./img/image4.png">
				</section>
				<section>
					<div>
						<h4>Резюме и перспективы</h4>
					</div>
				</section>
			</section>
			<section>
				<section>
					<h5>Ошибка в настройках Ройстат</h5>
				</section>
				<section
					style="width: 1500px; width: 1232px; margin: 0px; left: -106px; top: 98.5px; position: absolute;">
					<H6 style="font-size: 20px;">Показатели январь</H6>
					<img style="margin: 0px; width: 100%;" src="./img/Screenshot_51.png" alt="">
					<img style="margin: 0px;" src="./img/Screenshot_51.5.png" alt="">
				</section>
				<section
					style="width: 1500px; width: 1232px; margin: 0px; left: -106px; top: 98.5px; position: absolute;">
					<H6 style="font-size: 20px;">Показатели Июнь</H6>
					<img style="width: 100%;" src="./img/Screenshot_52.png" alt="">
					<img style="margin: 0px; width: 100%;" src="./img/Screenshot_54.png" alt="">
				</section>
				<section
					style="width: 1500px; width: 1232px; margin: 0px; left: -106px; top: 98.5px; position: absolute;">
					<H6 style="font-size: 20px;">SEO Июнь</H6>
					<img style="width: 100%;" src="./img/Screenshot_55.png" alt="">
				</section>
				<section
					style="width: 1500px; width: 1232px; margin: 0px; left: -106px; top: 98.5px; position: absolute;">
					<H6 style="font-size: 20px;">Ошибки в общей статистики</H6>
					<img style="width: 100%;" src="./img/Screenshot_56.png" alt="">
				</section>
				<section>
					<h5>Мы посчитали реальную картину</h5>
				</section>
			</section>
			<section>
				<section>
					<h5>МЫ УБРАЛИ ВСЕ ПОВТОРНЫЕ ЗАЯВКИ И ПРОДАЖИ</h5>
				</section>
				<section>
					<table style="font-size: 17px; border: 1px solid white;">
						<caption>статистика заявки январь</caption>
						<thead>
							<tr>
								<th>Ресурс</th>
								<th>Заявки</th>
								<th>Клиенты</th>
								<th>Выручка</th>
								<th>Расходы</th>
								<th>Итого</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>СЕО</td>
								<td>121</td>
								<td>3</td>
								<td>26500</td>
								<td>0</td>
								<td>26500</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Яндекс</td>
								<td>42</td>
								<td>1</td>
								<td>12000</td>
								<td>26648</td>
								<td>-14648</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Google</td>
								<td>36</td>
								<td>1</td>
								<td>60000</td>
								<td>13200</td>
								<td>46800</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Прямые визиты</td>
								<td>8</td>
								<td>0</td>
								<td>0</td>
								<td>0</td>
								<td>0</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Визиты с сайтов</td>
								<td>6</td>
								<td>0</td>
								<td>0</td>
								<td>0</td>
								<td>0</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td colspan="6" style="text-align: center;">Яндекс поиск</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Таможенный брокер</td>
								<td>12</td>
								<td>1</td>
								<td>12000</td>
								<td>3935</td>
								<td>8065</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Таможенное декларирование</td>
								<td>4</td>
								<td>0</td>
								<td>0</td>
								<td>178</td>
								<td>-178</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Таможенный брокер</td>
								<td>1</td>
								<td>0</td>
								<td>0</td>
								<td>247</td>
								<td>-247</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Таможенный брокер Китай</td>
								<td>1</td>
								<td>0</td>
								<td>0</td>
								<td>78</td>
								<td>-78</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Таможенный брокер Москва</td>
								<td>1</td>
								<td>0</td>
								<td>0</td>
								<td>868</td>
								<td>-868</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Таможенное оформление</td>
								<td>1</td>
								<td>0</td>
								<td>0</td>
								<td>6</td>
								<td>-6</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Таможенное оформление</td>
								<td>1</td>
								<td>0</td>
								<td>0</td>
								<td>6</td>
								<td>-6</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Таможенный представитель</td>
								<td>1</td>
								<td>0</td>
								<td>0</td>
								<td>518</td>
								<td>-518</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Таможенное оформление продукции</td>
								<td>1</td>
								<td>0</td>
								<td>0</td>
								<td>109</td>
								<td>-109</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Услуга таможенный брокер</td>
								<td>1</td>
								<td>0</td>
								<td>0</td>
								<td>135</td>
								<td>-135</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>ООО Вэд Юг</td>
								<td>1</td>
								<td>0</td>
								<td>0</td>
								<td>28</td>
								<td>-28</td>
							</tr>
						</tbody>
					</table>
				</section>
				<section>
					<table style="font-size: 17px; border: 1px solid white;">
						<caption>Яндекс РСЯ</caption>
						<thead>
							<tr>
								<th>Ресурс</th>
								<th>Заявки</th>
								<th>Клиенты</th>
								<th>Выручка</th>
								<th>Расходы</th>
								<th>Итого</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Таможенный представитель 24/7</td>
								<td>4</td>
								<td>0</td>
								<td>0</td>
								<td>369</td>
								<td>-369</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Таможенный представитель 24/7</td>
								<td>3</td>
								<td>0</td>
								<td>0</td>
								<td>407</td>
								<td>-407</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Таможенный брокер ВЭД юг</td>
								<td>3</td>
								<td>0</td>
								<td>0</td>
								<td>719</td>
								<td>-719</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Нужно таможенное оформление?</td>
								<td>2</td>
								<td>0</td>
								<td>0</td>
								<td>169</td>
								<td>-169</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Нужно таможенное оформление?</td>
								<td>2</td>
								<td>0</td>
								<td>0</td>
								<td>169</td>
								<td>-169</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Ищите таможенного брокера?</td>
								<td>1</td>
								<td>0</td>
								<td>0</td>
								<td>1037</td>
								<td>-1037</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td colspan="6" style="text-align: center;">Google поиск</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Растаможить груз</td>
								<td>8</td>
								<td>0</td>
								<td>60000</td>
								<td>141</td>
								<td>59859</td>
							</tr>
						</tbody>
					</table>
				</section>
				<section>
					<table style="font-size: 17px; border: 1px solid white;">
						<caption>статистика заявки июнь</caption>
						<thead>
							<tr>
								<th>Ресурс</th>
								<th>Заявки</th>
								<th>Клиенты</th>
								<th>Выручка</th>
								<th>Расходы</th>
								<th>Итого</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>CEO</td>
								<td>592</td>
								<td>2</td>
								<td>972500</td>
								<td>0</td>
								<td>972500</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Яндекс</td>
								<td>40</td>
								<td>1</td>
								<td>22000</td>
								<td>32147</td>
								<td>-10147</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Google</td>
								<td>36</td>
								<td>0</td>
								<td>0</td>
								<td>3586</td>
								<td>-3586</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Прямые визиты</td>
								<td>41</td>
								<td>4</td>
								<td>0</td>
								<td>0</td>
								<td>63000</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Визиты с сайтов</td>
								<td>4</td>
								<td>0</td>
								<td>0</td>
								<td>0</td>
								<td>0</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td colspan="6" style="text-align: center;">Яндекс Поиск</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Таможенный брокер</td>
								<td>11</td>
								<td>0</td>
								<td>0</td>
								<td>6062</td>
								<td>-6062</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Таможенное оформление автомобилей</td>
								<td>3</td>
								<td>0</td>
								<td>0</td>
								<td>1529</td>
								<td>-1529</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Стоимость таможенного оформления</td>
								<td>2</td>
								<td>0</td>
								<td>0</td>
								<td>254</td>
								<td>-254</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Таможенный брокер</td>
								<td>2</td>
								<td>0</td>
								<td>0</td>
								<td>518</td>
								<td>-518</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Таможенное оформление товаров</td>
								<td>2</td>
								<td>0</td>
								<td>0</td>
								<td>267</td>
								<td>-267</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Таможенное оформление автомобилей</td>
								<td>2</td>
								<td>0</td>
								<td>0</td>
								<td>1509</td>
								<td>-1509</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Таможенный брокер Москва</td>
								<td>1</td>
								<td>0</td>
								<td>0</td>
								<td>120</td>
								<td>-120</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Таможенный брокер экспорт</td>
								<td>1</td>
								<td>0</td>
								<td>0</td>
								<td>101</td>
								<td>-101</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Таможенное оформление грузов</td>
								<td>1</td>
								<td>0</td>
								<td>0</td>
								<td>207</td>
								<td>-207</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Таможенный брокер для физических</td>
								<td>1</td>
								<td>0</td>
								<td>0</td>
								<td>76</td>
								<td>-76</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Таможенный представитель</td>
								<td>1</td>
								<td>0</td>
								<td>0</td>
								<td>317</td>
								<td>-317</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Брокеры таможенное оформление</td>
								<td>1</td>
								<td>0</td>
								<td>0</td>
								<td>418</td>
								<td>-418</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Компания доставка из Китая</td>
								<td>2</td>
								<td>0</td>
								<td>0</td>
								<td>296</td>
								<td>-296</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Доставка из Китая</td>
								<td>1</td>
								<td>0</td>
								<td>0</td>
								<td>2943</td>
								<td>-2943</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Доставка грузов из китая</td>
								<td>1</td>
								<td>0</td>
								<td>0</td>
								<td>1848</td>
								<td>-1848</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Доставка из китая в Москву</td>
								<td>1</td>
								<td>0</td>
								<td>0</td>
								<td>773</td>
								<td>-773</td>
							</tr>
						</tbody>
					</table>
				</section>
				<section>
					<table style="font-size: 17px; border: 1px solid white;">
						<caption>статистика заявки июнь</caption>
						<thead>
							<tr>
								<th>Ресурс</th>
								<th>Заявки</th>
								<th>Клиенты</th>
								<th>Выручка</th>
								<th>Расходы</th>
								<th>Итого</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Доставка контейнера из Китая</td>
								<td>1</td>
								<td>0</td>
								<td>0</td>
								<td>80</td>
								<td>-80</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Доставка сборных грузов из Китая</td>
								<td>1</td>
								<td>0</td>
								<td>0</td>
								<td>242</td>
								<td>-242</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Ved Ug</td>
								<td>1</td>
								<td>0</td>
								<td>0</td>
								<td>78</td>
								<td>-78</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td colspan="6" style="text-align: center;">Яндекс РСЯ</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Ved Ug</td>
								<td>1</td>
								<td>1</td>
								<td>2200</td>
								<td>0</td>
								<td>2200</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Ретаргетинг</td>
								<td>3</td>
								<td>0</td>
								<td>0</td>
								<td>2212</td>
								<td>-2212</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td colspan="6" style="text-align: center;">Google search</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Таможенный брокер Краснодар</td>
								<td>5</td>
								<td>0</td>
								<td>0</td>
								<td>395</td>
								<td>-395</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Таможенный брокер</td>
								<td>1</td>
								<td>0</td>
								<td>0</td>
								<td>241</td>
								<td>-241</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Растаможить груз</td>
								<td>4</td>
								<td>4</td>
								<td>30000</td>
								<td>0</td>
								<td>-30000</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Вед Юг</td>
								<td>2</td>
								<td>0</td>
								<td>0</td>
								<td>299</td>
								<td>-299</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Таможенное оформление</td>
								<td>1</td>
								<td>0</td>
								<td>0</td>
								<td>300</td>
								<td>-300</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Растаможка</td>
								<td>1</td>
								<td>0</td>
								<td>0</td>
								<td>1674</td>
								<td>-1674</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Импорт</td>
								<td>6</td>
								<td>0</td>
								<td>0</td>
								<td>2248</td>
								<td>-2248</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Импорт товаров</td>
								<td>1</td>
								<td>0</td>
								<td>0</td>
								<td>53</td>
								<td>-53</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Таможенный пошлина</td>
								<td>1</td>
								<td>0</td>
								<td>0</td>
								<td>1323</td>
								<td>-1323</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Таможенный оформление</td>
								<td>1</td>
								<td>0</td>
								<td>0</td>
								<td>20</td>
								<td>-20</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Импорт</td>
								<td>2</td>
								<td>0</td>
								<td>0</td>
								<td>348</td>
								<td>-348</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Вед Юг</td>
								<td>2</td>
								<td>0</td>
								<td>0</td>
								<td>56</td>
								<td>-56</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Таможенный брокер</td>
								<td>2</td>
								<td>0</td>
								<td>0</td>
								<td>72</td>
								<td>-72</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Таможенный контроль</td>
								<td>2</td>
								<td>0</td>
								<td>0</td>
								<td>171</td>
								<td>-171</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Таможня лнр</td>
								<td>2</td>
								<td>0</td>
								<td>0</td>
								<td>382</td>
								<td>-382</td>
							</tr>
						</tbody>
					</table>
				</section>
				<section>
					<table style="font-size: 17px; border: 1px solid white;">
						<caption>статистика заявки июнь</caption>
						<thead>
							<tr>
								<th>Ресурс</th>
								<th>Заявки</th>
								<th>Клиенты</th>
								<th>Выручка</th>
								<th>Расходы</th>
								<th>Итого</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Таможня лнр</td>
								<td>1</td>
								<td>0</td>
								<td>0</td>
								<td>102</td>
								<td>-102</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Таможня лнр</td>
								<td>1</td>
								<td>0</td>
								<td>0</td>
								<td>311</td>
								<td>-311</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Экспорт компании</td>
								<td>1</td>
								<td>0</td>
								<td>0</td>
								<td>38</td>
								<td>-38</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Таможенная процедура экспорта</td>
								<td>1</td>
								<td>0</td>
								<td>0</td>
								<td>49</td>
								<td>-49</td>
							</tr>
						</tbody>
					</table>
				</section>
				<section>
					<h5>показатели статистики</h5>
					<div id="donut-app" class="content-center flex items-center">
						<div id="datasets" class="min-h-288">
							<small class="block mb-4 text-gray uppercase">Январь - Июнь</small>
							<button v-on:click="currentSetIndex = 0" class="block mb-2 px-4 py-2 uppercase w-full"
								:class="{ 'active': currentSetIndex === 0 }">Заявки</button>
							<button v-on:click="currentSetIndex = 1" class="block mb-2 px-4 py-2 uppercase w-full"
								:class="{ 'active': currentSetIndex === 1 }">Клиенты</button>
							<button v-on:click="currentSetIndex = 2" class="block mb-2 px-4 py-2 uppercase w-full"
								:class="{ 'active': currentSetIndex === 2 }">Выручка</button>
							<button v-on:click="currentSetIndex = 3" class="block mb-2 px-4 py-2 uppercase w-full"
								:class="{ 'active': currentSetIndex === 3 }">Расходы</button>
							<button v-on:click="currentSetIndex = 4" class="block mb-2 px-4 py-2 uppercase w-full"
								:class="{ 'active': currentSetIndex === 4 }">Итог</button>
						</div>
						<div id="chart"></div>
						<div id="legend" class="min-h-288">
							<small class="block mb-4 text-gray uppercase">Показатели</small>
							<transition-group name="list-complete" tag="ul">
								<li v-for="item in legendItems" :key="item.label" class="flex list-complete-item"
									:class="{
										'text-darkred': item.type === 'stick',
										'text-gray': item.type === 'band',
										'text-indianred': item.type === 'interest',
									}">
									<div class="mb-2">{{ item.label }}</div>
									<div class="ml-auto pl-8">
										<animated-number :value="item.value"></animated-number>
									</div>
								</li>
							</transition-group>
							<hr class="mb-4">
							<div class="mb-2">
								<svg viewBox="0 0 1 1" class="fill-current text-darkred w-4">
								</svg>
								<animated-number :value="percentMakeup.sticks"></animated-number>
							</div>
						</div>
					</div>
				</section>
				<section>
					<table style="font-size: 17px; border: 1px solid white;">
						<caption>Яндекс Поиск</caption>
						<thead>
							<tr>
								<th>Ключевое слово</th>
								<th>Цена клика</th>
								<th>Расход</th>
								<th>Продажи</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>доставка из Китая</td>
								<td>70,88</td>
								<td>3473,33</td>
								<td>0</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>доставка грузов из Китая</td>
								<td>130,05</td>
								<td>1690,64</td>
								<td>0</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Доставка из Китая в Россию</td>
								<td>37,77</td>
								<td>868,69</td>
								<td>0</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Доставка сборных грузов из Китая</td>
								<td>134,79</td>
								<td>808,74</td>
								<td>0</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Доставка груза из Китая</td>
								<td>148,97</td>
								<td>744,84</td>
								<td>0</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Доставка сборных грузов из Китая</td>
								<td>134,79</td>
								<td>808,74</td>
								<td>0</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Доставка из китая сборных грузов</td>
								<td>65,17</td>
								<td>456,2</td>
								<td>0</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Cколько стоит привести груз с Китая официальный сайт</td>
								<td>149,88</td>
								<td>449,63</td>
								<td>0</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Доставка грузов из Китая контейнерами</td>
								<td>213,05</td>
								<td>426,1</td>
								<td>0</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Доставка груза из Китая в Россию</td>
								<td>423,26</td>
								<td>423,26</td>
								<td>0</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Доставка контейнера из Китая</td>
								<td>414,59</td>
								<td>414,59</td>
								<td>0</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Доставка грузов из Китая в Москву</td>
								<td>398,81</td>
								<td>398,81</td>
								<td>0</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Калькулятор доставки товаров из Китая</td>
								<td>385,1</td>
								<td>385,1</td>
								<td>0</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Доставка товаров из Китая в Россию</td>
								<td>188,43</td>
								<td>376,86</td>
								<td>0</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Доставка с Китая</td>
								<td>345,04</td>
								<td>345,04</td>
								<td>0</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Перевозка грузов из Китая цена за кг</td>
								<td>309,19</td>
								<td>309,19</td>
								<td>0</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Проверить отслеживание почтовых отправлений из Китая</td>
								<td>61,67</td>
								<td>308,36</td>
								<td>0</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Авиаперевозки из Китая срок</td>
								<td>305,08</td>
								<td>305,08</td>
								<td>0</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Поставки с Китая в Россию</td>
								<td>302,58</td>
								<td>302,58</td>
								<td>0</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Оптовые поставки из Китая</td>
								<td>99,24</td>
								<td>297,71</td>
								<td>0</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Оптовые поставки из Китая</td>
								<td>99,24</td>
								<td>297,71</td>
								<td>0</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Компании логистика из Китая выкуп и доставка в Москву рейтинг</td>
								<td>296,37</td>
								<td>296,37</td>
								<td>0</td>
							</tr>
						</tbody>
					</table>
				</section>
				<section>
					<table style="font-size: 17px; border: 1px solid white;">
						<thead>
							<tr>
								<th>Ключевое слово</th>
								<th>Цена клика</th>
								<th>Расход</th>
								<th>Продажи</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Привезти сборный груз из Китая организации</td>
								<td>295,19</td>
								<td>295,19</td>
								<td>0</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Доставка из Китая грузов</td>
								<td>58,29</td>
								<td>291,43</td>
								<td>0</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Доставка грузов из Китая рейтинг компаний</td>
								<td>283,8</td>
								<td>283,8</td>
								<td>0</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Доставка сборных грузов из Китая от 1 кг</td>
								<td>241,85</td>
								<td>241,85</td>
								<td>0</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Поставки товара с Китая в Россию</td>
								<td>240,94</td>
								<td>240,94</td>
								<td>0</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Логистика из Китая в Россию</td>
								<td>235,52</td>
								<td>235,52</td>
								<td>0</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Контейнерные перевозки из Шанхая</td>
								<td>229,59</td>
								<td>229,59</td>
								<td>0</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td colspan="2">Итого</td>
								<td>15448,36</td>
								<td>0</td>
							</tr>
						</tbody>
					</table>
				</section>
				<section>
					<table style="font-size: 17px; border: 1px solid white;">
						<caption>Google Поиск</caption>
						<thead>
							<tr>
								<th>Ключевое слово</th>
								<th>Цена клика</th>
								<th>Расход</th>
								<th>Продажи</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Импорт</td>
								<td>25</td>
								<td>15618</td>
								<td>0</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Импорт товаров</td>
								<td>24</td>
								<td>3802</td>
								<td>0</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Импорт</td>
								<td>26</td>
								<td>3272</td>
								<td>0</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>экспорт России</td>
								<td>25</td>
								<td>3977</td>
								<td>0</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Экспорт Товаров</td>
								<td>24</td>
								<td>718</td>
								<td>0</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Экспорт Нефти</td>
								<td>24</td>
								<td>430</td>
								<td>0</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Растаможка</td>
								<td>24</td>
								<td>13279</td>
								<td>0</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td colspan="2">Итого</td>
								<td>41096</td>
								<td>0</td>
							</tr>
						</tbody>
					</table>
				</section>
				<section>
					<p style="padding: 0px; margin: 0;">По доходам</p>
					<img src="./img/image13.png" alt="">
				</section>
				<section>
					<h5>показатели статистики</h5>
					<div id="donut-app1" class="content-center flex items-center">
						<div id="datasets" class="min-h-288">
							<small class="block mb-4 text-gray uppercase">Январь - Июнь</small>
							<button v-on:click="currentSetIndex = 0" class="block mb-2 px-4 py-2 uppercase w-full"
								:class="{ 'active': currentSetIndex === 0 }">Январь</button>
							<button v-on:click="currentSetIndex = 1" class="block mb-2 px-4 py-2 uppercase w-full"
								:class="{ 'active': currentSetIndex === 1 }">Февраль</button>
							<button v-on:click="currentSetIndex = 2" class="block mb-2 px-4 py-2 uppercase w-full"
								:class="{ 'active': currentSetIndex === 2 }">Март</button>
							<button v-on:click="currentSetIndex = 3" class="block mb-2 px-4 py-2 uppercase w-full"
								:class="{ 'active': currentSetIndex === 3 }">Апрель</button>
							<button v-on:click="currentSetIndex = 4" class="block mb-2 px-4 py-2 uppercase w-full"
								:class="{ 'active': currentSetIndex === 4 }">Май</button>
							<button v-on:click="currentSetIndex = 5" class="block mb-2 px-4 py-2 uppercase w-full"
								:class="{ 'active': currentSetIndex === 5 }">Июнь</button>
						</div>
						<div id="chart1"></div>
						<div id="legend" class="min-h-288">
							<small class="block mb-4 text-gray uppercase">Показатели</small>
							<transition-group name="list-complete" tag="ul">
								<li v-for="item in legendItems" :key="item.label" class="flex list-complete-item"
									:class="{
										'text-darkred': item.type === 'stick',
										'text-gray': item.type === 'band',
										'text-indianred': item.type === 'interest',
									}">
									<div class="mb-2">{{ item.label }}</div>
									<div class="ml-auto pl-8">
										<animated-number :value="item.value"></animated-number>
									</div>
								</li>
							</transition-group>
							<hr class="mb-4">
							<div class="mb-2">
								<svg viewBox="0 0 1 1" class="fill-current text-darkred w-4">
								</svg>
								<animated-number :value="percentMakeup.sticks"></animated-number>
							</div>
						</div>
					</div>
				</section>
			</section>
			<section>
				<section>
					<h5>Основная проблема не в контексте и не в настройках кабинетов</h5>
				</section>
				<section>
					<h5>Брендбук ≠ Логобук</h5>
				</section>
				<section>
					<img src="./img/слайд1.jpg" alt="">
				</section>
				<section>
					<img src="./img/слайд2.jpg" alt="">
				</section>
				<section>
					<h5>Это элементы логобука</h5>
					<img src="./img/Screenshot_49.png" alt="" srcset="">
				</section>
				<section>
					<img src="./img/Герб.png" alt="" srcset="">
					<p>Государственный герб таможенных органов РФ. Символ стабильности, уверенности, власти,
						влиятельности. Все государственное проверенно временем. Государство гарант надежности</p>
				</section>
				<section>
					<img src="./img/башня.png" alt="" srcset="">
					<p>Крепость Святого Дмитрия Ростовского символа защиты, безопасности, надежности. Дополнительный
						акцент на&nbsp;государственность, сохранение правил, аллюзия на&nbsp;защиту границ,
						сохранение устойчивости</p>
				</section>
				<section>
					<img src="./img/щит.png" alt="" srcset="">
					<p>Философия компании: надежная, проверенная временем, безопасная, имеющая тесные связи
						с&nbsp;государством, охраняющая интересы клиентов</p>
				</section>
				<section>
					<h5>Миссия компании ?</h5>
				</section>
				<section>
					<h5>Язык коммуникации ?</h5>
				</section>
				<section>
					<h5>Ценности компании ?</h5>
				</section>
				<section>
					<h5>Ощущение от бренда ?</h5>
				</section>
				<section>
					<h5>Визуальные ассоциации ?</h5>
				</section>
				<section>
					<h5>Культурный код ?</h5>
				</section>
				<section>
					<h5>Компетенции ?</h5>
				</section>
				<section>
					<h5>История ?</h5>
				</section>
			</section>
			<section>
				<section>
					<h5>Брендбук</h5>
					<p style="font-size: 20px; text-align: left;">
						1. Как сейчас <br>
						Брендбук – это один из основополагающих документов компании, регламентирующий миссию, цели и
						задачи бренда на рынке. Это своеобразная «Библия» бренда, на основании которой строится вся
						маркетинговая стратегия. Без данного документа реализация любой стратегии невозможна из-за
						отсутствия идейной основы, объединяющей различные инструменты и каналы коммуникации.
						При попытке реализации маркетинговой стратегии без брендбука, каждый канал и инструмент будет
						ориентироваться только на лидогенерационные метрики и не будет доносить до целевой аудитории
						суть бренда, его ценности, миссию, философию и индивидуальность. Таким образом, полноценного
						бренда без брендбука просто не может существовать.
						Исходя из предоставленной информации, в настоящий момент у компании отсутствует полноценный
						брендбук. Сформирован только логобук, в котором представлено визуальное оформление торговой
						марки. При этом, сама торговая марка, из-за отсутствия брендбука, не имеет содержания.<br>
					</p>
					<p style="font-size: 20px; text-align: left;">
						2. Как будет <br>
						Брендбук систематизирует идеологию бренда, что позволит использовать все каналы коммуникации для
						донесения этой идеологии для конечного потребителя и создания у потребителя устойчивой
						эмоциональной связи со всеми элементами бренда, в том числе и с фирменным стилем.<br>
					</p>
					<p style="font-size: 20px; text-align: left;">
						3. Каким будет результат <br>
						Брендбук, полностью отвечающий требованиям топ-менеджмента к будущей идеологии и
						позиционированию.
					</p>
				</section>
				<section style="padding: 0px;">
					<h5 style="margin-top: 0px;">SMM</h5>
					<p style="font-size: 20px; text-align: left;">
						1. Как сейчас <br>
						В настоящий момент социальные сети ведутся по остаточному принципу, что выражается в практически
						полном отсутствии полезного контента. Исходя из постов, опубликованных в последнее время, для
						социальных сетей не разрабатывался рубрикатор и контент-план. Их отсутствие сказывается на
						качестве ведения и отсутствии роста базы подписчиков.
						Продолжение работы в текущем режиме никогда не приведет к какому-либо результату.
					</p>
					<p style="font-size: 20px; text-align: left;">
						2. Как будет<br>
						Будет разработан список рубрик, каждая из которых будет решать определенную задачу в рамках
						коммуникации с сегментом целевой аудитории. Исходя из рубрикатора, каждые две недели будет
						формироваться контент-план, содержащий конкретные посты, запланированные к публикации.
						В ходе работы, статистика по вовлеченности постов будет анализироваться. На основании
						проведенного анализа, рубрикатор будет корректироваться для повышения его эффективности.
					</p>
					<p style="font-size: 20px; text-align: left;">
						3. Как посчитать результат <br>
						Для подсчета результативности будут использоваться следующие метрики:<br>
						• Количество подписчиков;<br>
						• Количество лайков, репостов и комментариев;<br>
						• Количество заявок из социальных сетей;<br>
						• Количество новых клиентов, приведенных из социальных сетей;<br>

					</p>
					<p style="font-size: 20px; text-align: left;">
						4. Каким будет результат <br>
						Живые страницы в социальных сетях, которые будут являться не только источником новых клиентов,
						но и способом коммуникации с целевой аудиторией. Более того, при корректном управлении и должном
						уровне доверия, данный инструмент может быть рычагом влияния на мнение аудитории в том числе и с
						помощью манипулирования комментариями.
					</p>
				</section>
				<section>
					<h5>SERM</h5>
					<p style="font-size: 20px; text-align: left;">
						1. Как сейчас <br>
						SERM – управление репутацией компании. В настоящий момент работа с репутацией, в сравнении с
						остальными направлениями – одно из самых развитых. Тем не менее, существует ряд недоработок,
						способных повлиять на итоговый результат. В частности:<br>
						• Идентичные отличные оценки;
					</p>
					<img src="./img/image10.png" alt="">
				</section>
				<section>
					<p style="font-size: 20px; text-align: left;">
						• Отсутствие проработки негатива
					</p>
					<img src="./img/image11.png" alt="">
					<img src="./img/image12.png" alt="">
				</section>
				<section>
					<p style="font-size: 20px; text-align: left;">
						• Отсутствие компании на популярных сайтах для отзывов<br>
						irecommend.ru.<br>
						otzovik.com.<br>
						zoon.ru.<br>
						apoi.ru.<br>
						pravogolosa.net.<br>

					</p>
					<p style="font-size: 20px; text-align: left;">
						2. Как будет <br>

						Будет разработан план публикации отзывов для регулирования средней оценки предприятия на уровне
						4,7-4,8 баллов на всех доступных площадках. Таким образом, оценка будет находиться на высоком
						уровне, при этом не вызывая подозрений относительно ее объективности.
						Все негативные отзывы будут публично обрабатываться от имени компании и, при необходимости,
						передаваться для доработки и сглаживания негатива к непосредственным представителям компании.
					</p>
					<p style="font-size: 20px; text-align: left;">
						3. Как посчитать результат<br>

						• Количеством опубликованных отзывов;<br>
						• Количеством обработанных негативных отзывов;<br>
						• Количеством разрешенных конфликтных ситуаций;<br>

					</p>
					<p style="font-size: 20px; text-align: left;">
						4. Каким будет результат <br>

						Репутация компании будет поддерживаться на стабильно высоком уровне и подтверждаться действиями
						компании для урегулирования неоднозначных ситуаций. При использовании брендовых запросов в сети,
						пользователь будет сталкиваться с позитивными отзывами о компании на различных
						специализированных площадках, что будет являться дополнительным аргументом для обращения в
						компанию.
					</p>
				</section>
				<section>
					<h5>Email</h5>
					<p style="font-size: 20px; text-align: left;">
						1. Как сейчас<br>
						Исходя из данных Roistat, за последние полгода была отправлена только две рассылки: о COVID и
						Поздравление с Новым годом 2020.
						Таким образом, можно сказать, что данный инструмент не используется.
					</p>
					<p style="font-size: 20px; text-align: left;">
						2. Как будет<br>
						База клиентов будет сегментирована по доступным на первом этапе критериям. Для каждого сегмента
						будут выстроены email-воронки, содержащие в себе информационные, полезные и продающие письма.
					</p>
					<p style="font-size: 20px; text-align: left;">
						3. Как посчитать результат <br>
						Для подсчета результативности будут использоваться следующие метрики:<br>
						• Количество писем;<br>
						• Процент открываемости писем и переходов на сайт;<br>
						• Количество заявок;<br>
						• Количество продаж;<br>

					</p>
					<p style="font-size: 20px; text-align: left;">
						4. Каким будет результат<br>
						Email будет превращен в полноценный канал лидогенерации и допродаж.
					</p>
				</section>
				<section>
					<h5>SEO</h5>
					<p style="font-size: 20px; text-align: left;">
						1. Как сейчас <br>
						Исходя из данных Roistat, в настоящий момент SEO-продвижение исключительно неэффективно. Как
						показали данные Roistat, из более чем 2000 обращений, поступивших из SEO фактически новыми
						клиентами является только 16 компаний. Основная выручка в течение полугода формируется за счет
						допродаж по клиентам, которые стали постоянными.
					</p>
					<p style="font-size: 20px; text-align: left;">
						2. Как будет <br>
						Семантическое ядро будет пересмотрено и очищено от нецелевых запросов, в результате чего
						количество обращений сократится, однако их качество возрастет. Это снизит неэффективную нагрузку
						на отдел продаж и повысит общую выручку компании.
					</p>
					<p style="font-size: 20px; text-align: left;">
						3. Как посчитать результат <br>

						• Объем трафика;<br>
						• Позиции в выдаче по целевым ключевым фразам;<br>
						• Количество качественных обращений;<br>
						• Количество продаж;<br>
					</p>
					<p style="font-size: 20px; text-align: left;">
						4. Каким будет результат <br>
						Большее количество новых клиентов, приведенных из канала. Большее количество денег. Меньшее
						количество некачественных обращений.
					</p>
				</section>
				<section>
					<h5>
						PR
					</h5>
					<p style="font-size: 20px; text-align: left;">
						1. Как сейчас <br>
						В настоящий момент компания не занимается PR-направлением. В интернете не было найдено ни одной
						публикации в СМИ о компании, работа с лидерами мнений также не ведется.
					</p>
					<p style="font-size: 20px; text-align: left;">
						2. Как будет <br>
						Будут проводиться систематические создание и поиск информационных поводов, на основании которых
						будут формироваться пресс-релизы для размещения в средствах массовой информации.
						Также систематически будет проводиться работа с лидерами мнений целевой аудитории в блогосфере.
					</p>
					<p style="font-size: 20px; text-align: left;">
						3. Как посчитать результат<br>

						• Количество организованных инфоповодов<br>
						• Количество написанных пресс-релизов<br>
						• Количество упоминаний в СМИ<br>
						• Количество упоминаний в блогосфере<br>
					</p>
					<p style="font-size: 20px; text-align: left;">
						4. Каким будет результат<br>
						До общественности будут донесены ценности и миссия бренда. Будет сформирован позитивный и
						правильный образ бренда, соответствующий позиционированию.
					</p>
				</section>
				<section>
					<h5>Таргетированная реклама</h5>
					<p style="font-size: 20px; text-align: left;">
						1. Как сейчас <br>
						В настоящий момент данный рекламный канал не используется
					</p>
					<p style="font-size: 20px; text-align: left;">
						2. Как будет<br>
						Данный рекламный канал будет настроен и подключен для решения двух задач: <br>
						• Лидогенерация <br>
						• Донесение до целевой аудитории ценностей бренда (позиционирование). <br>
					</p>
					<p style="font-size: 20px; text-align: left;">
						3. Как посчитать результат <br>

						• Количество обращений <br>
						• Количество новых клиентов <br>
						• Количество продаж<br>
						• ROI <br>
						• Охват уникальных пользователей <br>
					</p>
					<p style="font-size: 20px; text-align: left;">
						4. Каким будет результат <br>
						Таргетированная реклама станет дополнительным источником заявок, а также способом укрепить
						транслируемую эмоциональную связь торговой марки с целевой аудиторией.
					</p>
				</section>
				<section>
					<h5>Контекстная реклама</h5>
					<p style="font-size: 20px; text-align: left;">
						1. Как сейчас<br>
						В настоящий момент из-за некачественной настройки, данный рекламный канал работает с
						отрицательной доходностью и не приносит необходимого количества новых клиентов.
					</p>
					<p style="font-size: 20px; text-align: left;">
						2. Как будет<br>

						Будет проработано семантическое ядро, максимально охватывающая целевые поисковые запросы и не
						затрагивающее околоцелевые, неэффективно расходующие бюджет. Предположительная архитектура
						рекламных кампаний будет основана на сегментации семантики по услугам компании: <br>

						• Таможенный представитель<br>
						• Транспортное экспедирование грузов<br>
						• Терминальная обработка<br>
						• Таможенное декларирование товаров и грузов <br>
						• Таможенные услуги<br>
						• Разрешительная документация<br>
						• Транспортно-экспедиционное обслуживание<br>

						При этом, для каждого сегмента будет использоваться точная посадочная страница, конкретно
						отвечающая на запрос пользователя <br>

						Данная структура является предварительной и может быть усложнена в случае необходимости более
						точной сегментации поисковых запросов
					</p>
					<p style="font-size: 20px; text-align: left;">
						3. Как посчитать результат<br>

						• Количество обращений <br>
						• Количество новых клиентов <br>
						• Количество продаж <br>
						• Количество денег ROI <br>

					</p>
					<p style="font-size: 20px; text-align: left;">
						4. Каким будет результат <br>

						Прибыльные рекламные кампании со стабильной эффективностью, которая постоянно растет.
					</p>
				</section>
			</section>
			<section>
				<section>
					<h5>
						Итоговое предложение: <br>
						Комплексный маркетинг на аутсорсинге.
					</h5>
				</section>
				<section>
					<h5>
						Стоимость услуг 270 000 рублей в месяц.
					</h5>
				</section>
				<section>
					<h5>
						8 специалистов. 140 рабочих часов в месяц.
					</h5>
				</section>
				<section>
					<h5>
						Личный менеджер. <br>
						Создание лендингов и посадочных страниц. <br>
						Разработка стратегий <br>
						Офлайн маркетинг и эвенты по агентским ценам. <br>
					</h5>
				</section>
				<section>
					<h5>
						Скидка 10% при заключении договора на 3 месяца. <br>
					</h5>
				</section>
			</section>
		</div>
	</div>
	<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/95368/echarts-en.min-440rc1.js"></script>
	<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/95368/royal.js"></script>
	<script src="./js/bar.js"></script>
	<script src="https://d3js.org/d3.v5.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
	<script src="./js/diogram.js"></script>
	<script src="dist/reveal.js"></script>
	<script src="plugin/notes/notes.js"></script>
	<script src="plugin/markdown/markdown.js"></script>
	<script src="plugin/highlight/highlight.js"></script>
	<!-- <script src="./js/script.js"></script> -->
	<script>
		// More info about initialization & config:
		// - https://revealjs.com/initialization/
		// - https://revealjs.com/config/
		Reveal.initialize({
			hash: true,

			// Learn about plugins: https://revealjs.com/plugins/
			plugins: [RevealMarkdown, RevealHighlight, RevealNotes]
		});
	</script>
</body>

</html>